
* {
  -webkit-box-sizing: border-box;
  font-family: 'FixedsysNeo+';
}
@font-face {
  font-family: 'FixedsysNeo+';
  src: url(icons/font/fixedsysNeo.ttf);
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: white;
  margin: 0;
  color: #33333d;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: #A8A8A8;
}

section {
  font: 'FixedsysNeo+';
  min-height: 50%;
}

section {
  border-bottom: 5px solid #eee;
}

section:not(#top) {
  padding: 150px 100px;
  text-align: center;
}

pre {
  background: white;
  border-top: .2em solid #eee;
  border-bottom: .2em solid #eee;
  padding: 25px;
  font-size: .9em;
  font-family: monospace;
  overflow-x: hidden;
}

.content img {
  width: 100%;
}

p {
  font-weight: 300;
}

.mono {
  !important;
  font-weight: 300;
}
div#tagline < code {
  font-size: 4;
}
code {
  font-size: 2;
  font-weight: 500;
}

h1 {
  margin-top: 0;
  font-size: 2em;
}

h1.title {
  margin-top: 50px;
  font-size: 2em;
}

h1:not(:first-child) {
  margin-top: 50px;
}

h2 {
  margin-top: 80px;
  font-size: 1.5em;
  color: #427DB8;
}

h3 {
  margin-top: 40px;
  font-size: 1em;
}

h4 {
  margin-top: 10px;
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
  text-align: left;

}

/*ul li {
  font-size: 1.2em;
}*/

section:nth-child(2n) {
  /*padding: 150px 100px;*/
  text-align: center;
}

.content {
  font: 'FixedsysNeo+';
  margin: 0 auto;
  max-width: 1080px;
  text-align: left;
}

#top {
  height: 100%;
}

#heading {
  -webkit-user-select: none;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  text-align: center;
  width: 100%;

}

#logo {
  font: 150px 'FixedsysNeo+';
  text-transform: ;
}
#svg {
  Float: center
  width: 128px

  }


#tagline {
  font-size: 1.6em;
}

#menu {
  position: fixed;
  top: 35px;
  right: 30px;
  z-index: 50;
}

#menu:hover ul {
  display: block;
}

#menu a {
  color: inherit;
}

#menu a#toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: rgba(255,255,255,.9);
  border-radius: 2px;
  border: 1px solid transparent;
  z-index: 5;
}

#menu:click a#toggle {
  border: 10px solid #efefef;
  border-bottom: none;
}

#menu:click li<a#toggle {
  border: 1px solid #efefef;
  border-bottom: none;
}


#menu ul {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  margin: 0;
  border: 1px solid #efefef;
  border-bottom: 1px solid #ddd;
  border-radius: 2px;
  padding: 25px;
  background: rgba(255,255,255,.95);
  box-shadow: 0 1px 3px 0 #eee;
}

#menu ul li {
  list-style: none;
}

#menu ul li a {
  display: block;
  text-decoration: none;
  padding: 3px 0;
}

#menu ul li a:hover {
  text-decoration: underline;
}
/*
@media screen and (max-width: 700px) {
  section:not(#top) {
    padding: 50px 25px;
  }

}

  #heading {
    margin-top: -75px;
  }

  #logo {
    font-size: 75px;
  }

  #tagline {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }
}
  /* resets */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .col-1-3 {
  float: left;
  width: 33.33%;
}
  .footer {
  float: center;
  font-size: 1.4em;
  margin-top: 40px;

}

.contentGroup {
  font: 'FixedsysNeo+';
  margin-top: 60px;
  font-size: 2em;
  font-weight: bold;
}

.contentIntro {
  margin-top: 10px;
  font: 'FixedsysNeo+';
  display:  block;
  text-indent: 22px;
  font-size: 1.4em;
}

.elementName {
  margin-top: 20px;
  font: 'FixedsysNeo+';
  font-size: 1.5em;
  text-align: left;
  font-weight: bold;
}

.elementDesc {
  margin-top: 10px;
  margin-down: 20px;
  font: 'FixedsysNeo+';
  display:  block;
  font-size: 1.4em;
}

.contentHeader {
  margin-top: 15px;
  margin-down: 15px;
  font: 'FixedsysNeo+';
  display:  block;
  font-size: 3em;
}

.contentSection {
  margin-top: 150px;
  margin-down:10px;
  font: 'FixedsysNeo+';
  display:  block;
  font-size: 2.5em;
}

.elementText {
  margin-top: 30px;
  margin-down: 20px;
  font: 'FixedsysNeo+';
  display:  block;
  font-size: 1.2em;
}
